{% extends 'service/base.html' %}
{% block title %}FAQ{% endblock %}
{% block content %}

<div>
    <div class="textBlock">
        <h1>Frequently Asked Questions</h1>
        <div >
            {%for q in faq%}
            <details>
                <summary class="questionBlock">
                    {{q.date}} {{q.question}}
                </summary>
                <div class="answerBlock">{{q.answer|safe}}</div>
            </details>
            {%endfor%}
        </div>
    </div>
</div>
{% endblock %}

