{% extends 'service/base.html' %}
{% block title %}Vacancy page{% endblock %}
{% block content %}
<div>
    <h1>Vacancy's</h1>
    <h3>We have some offers for you! If you are interested - <a style ='color:#282828' href="/contacts">contact us</a></h3>
    <div >
        <div class = "vacancy">
            <h2 >Propgrammer</h2>
            <h3 >Salary: 200$</h3>
            <h3 >Education: required</h3>
        </div> 
        <div class = "vacancy">
            <h2 ><code>class programmer();<br>offer();</code></h2>
            <h3 >Salary: 500$</h3>
            <h3 >Education: required</h3>
        </div>
    </div>
</div>
{% endblock %}